html,
body {
    width: 100%;
    height: 100%;
    background-color: lightgreen;
}

body {
    font-family: "Comic Sans MS", "Arial", "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.form-control{
    vertical-align: center;
    width: 50;
    height: 25;
}

.text-vertical-center {
    display: table-cell;
    width: 30%;
    height: 30%;
    text-align: center;
    vertical-align: middle;
    background-color: lightblue;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: lightblue;
}

.container{
  padding-top: 170px;
}


.form-control{
  width: 100% !important;
  font-size: 15px;
}
.jumbotron{
	
	top: 50%;
	/*left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);*/
	/*background-image: url("background.jpg");*/
  background-color: lightblue;
}

.navbar-default
{
	/*background-image: url("background.jpg");*/
  background-color: lightblue;;
}
.navbar-default p{
	color: blue;
}

